---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/ui/Navbar.astro";
import ProfileHeader from "@components/ProfileHeader.astro";
import ProfileDescription from "@components/ProfileDescription.astro";
import ProfileJobs from "@components/ProfileJobs.astro";
import ProfileProjects from "@components/ProfileProjects.astro";
---

<Layout title="Jesus Martín - Portfolio">
  <Navbar />
  <main>
    <ProfileHeader />
    <div class="separator"></div>
    <ProfileDescription />
    <ProfileProjects />
    <ProfileJobs />
  </main>
</Layout>
<style>
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: 2rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  .separator {
    margin: 2rem;
  }

  @media (max-width: 900px) {
    main {
      overflow-y: unset;
      max-height: unset;
    }
  }
</style>
